    <div class="container-fluid">
      <div class="row-fluid">

        <!-- Logo section -->
        <div class="span4 row">
          <!-- Logo. -->
          <div class="hidden-phone" style="position: absolute; top: 59px; left: 11px;">
          <%= image_tag("logosec.png", :width => 70) %>
          </div>
          <div class="logo" style="padding-left: 68px;">

            <h1><a href="#">SEC<span class="bold">PLA</span></a></h1>
            <p class="meta">San Pedro de la Paz</p>
          </div>
          <!-- Logo ends -->
        </div>

       